<a href="https://colab.research.google.com/github/Shpchv/IntroToML/blob/main/4_Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
import pandas as pd
DATA = pd.read_csv("/content/candy-data.csv", delimiter=',', index_col='competitorname')

In [3]:
DATA

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,Y
competitorname,,,,,,,,,,,,,
100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,1
3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,1
One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0
One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0
Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Snickers Crisper,1,0,1,1,0,1,0,1,0,0.604,0.651,59.529251,1
Sour Patch Kids,0,1,0,0,0,0,0,0,1,0.069,0.116,59.863998,1
Sour Patch Tricksters,0,1,0,0,0,0,0,0,1,0.069,0.116,52.825947,1
Starburst,0,1,0,0,0,0,0,0,1,0.151,0.220,67.037628,1
Strawberry bon bons,0,1,0,0,0,0,1,0,1,0.569,0.058,34.578991,0

In [4]:
train_data = DATA.drop(['Mike & Ike','Root Beer Barrels','Starburst'])

In [5]:
X = pd.DataFrame(train_data.drop(['winpercent', 'Y'], axis=1))

In [6]:
y = pd.DataFrame(train_data['Y'])

In [7]:
from sklearn.linear_model import LogisticRegression

In [8]:
reg = LogisticRegression(random_state=2019, solver='lbfgs').fit(X, y.values.ravel())

In [ ]:
#reg.predict_proba([[0, 1, 1, 0, 0, 0, 1, 0, 1, 0.6473643, 0.76700002]])

In [11]:
test_data = pd.read_csv("/content/candy-test.csv", delimiter=',', index_col='competitorname')

In [ ]:
test_data

In [15]:
X_test = pd.DataFrame(test_data.drop(['Y'], axis = 1))

In [16]:
Y_pred = reg.predict(X_test)

In [17]:
Y_pred

array([0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1])

In [18]:
Y_pred_probs = reg.predict_proba(X_test)

In [29]:
test_data

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,Y
competitorname,,,,,,,,,,,,
Sugar Babies,0,1,1,0,0,0,1,0,1,0.647364,0.76700,0
Sugar Daddy,1,0,0,0,1,0,1,0,0,0.418000,0.32500,0
Super Bubble,0,1,0,0,0,0,0,0,0,0.162000,0.11600,0
Swedish Fish,0,1,0,0,0,0,0,0,1,0.604000,0.75500,1
Tootsie Pop,1,0,0,0,0,0,0,0,0,0.876560,0.56540,1
Tootsie Roll Juniors,1,0,0,0,0,0,0,0,0,0.313000,0.51100,0
Tootsie Roll Midgies,1,0,0,0,0,0,0,0,1,0.174000,0.01100,0
Tootsie Roll Snack Bars,1,0,0,0,0,0,0,1,0,0.465000,0.32500,1
Trolli Sour Bites,0,1,0,0,0,0,0,0,1,0.313000,0.25500,0
Twix,0,1,0,0,0,0,0,0,0,0.735430,0.86634,1
Twizzlers,0,1,0,0,0,0,0,0,0,0.220000,0.11600,0
Warheads,0,1,0,0,0,0,1,0,0,0.093000,0.11600,0
Welchs Fruit Snacks,0,1,0,0,0,0,0,0,1,0.313000,0.31300,0
Werthers Original Caramel,1,0,1,0,0,0,1,0,0,0.186000,0.26700,0
Whoppers,1,0,0,0,0,0,0,0,1,0.872000,0.84800,1

In [19]:
Y_pred_probs

array([[0.71594192, 0.28405808],
       [0.63528759, 0.36471241],
       [0.68384254, 0.31615746],
       [0.62250565, 0.37749435],
       [0.23045546, 0.76954454],
       [0.32030031, 0.67969969],
       [0.34503045, 0.65496955],
       [0.21929811, 0.78070189],
       [0.66761086, 0.33238914],
       [0.59013561, 0.40986439],
       [0.67357349, 0.32642651],
       [0.86494578, 0.13505422],
       [0.66861619, 0.33138381],
       [0.44772981, 0.55227019],
       [0.2418998 , 0.7581002 ]])

In [20]:
Y_pred_probs_class_1 = Y_pred_probs[:, 1]

In [21]:
Y_pred_probs_class_1

array([0.28405808, 0.36471241, 0.31615746, 0.37749435, 0.76954454,
       0.67969969, 0.65496955, 0.78070189, 0.33238914, 0.40986439,
       0.32642651, 0.13505422, 0.33138381, 0.55227019, 0.7581002 ])

In [22]:
Y_true = (test_data['Y'].to_frame().T).values.ravel()

In [23]:
Y_true

array([0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1])

In [24]:
from sklearn import metrics

In [25]:
fpr, tpr, _ = metrics.roc_curve(Y_true, Y_pred)

In [26]:
metrics.roc_auc_score(Y_true, Y_pred_probs_class_1)

0.8799999999999999

In [27]:
metrics.recall_score(Y_true, Y_pred)

0.6

In [28]:
metrics.precision_score(Y_true, Y_pred)

0.5