<a href="https://colab.research.google.com/github/Shpchv/IntroToML/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1

In [17]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [6]:
data = pd.read_csv('/content/data.csv', delimiter=';')

In [7]:
data

   id   X   Y
0   1  12  26
1   2  17  50
2   3   4   9
3   4   1   3
4   5  10  25
5   6   7  19
6   7  21  53
7   8  18  40
8   9  16  26
9  10  14  25

In [8]:
X = data['X']
Y = data['Y']

In [11]:
print(X.mean())
print(Y.mean())

12.0
27.6

In [13]:
reg_model = LinearRegression().fit(pd.DataFrame(X), pd.DataFrame(Y))

In [14]:
# Тета 0
reg_model.intercept_

array([-0.19787234])

In [15]:
# Тета 1
reg_model.coef_

array([[2.31648936]])

In [18]:
y_predicted = reg_model.predict(pd.DataFrame(X))
y_predicted

array([[27.6       ],
       [39.18244681],
       [ 9.06808511],
       [ 2.11861702],
       [22.96702128],
       [16.01755319],
       [48.44840426],
       [41.49893617],
       [36.86595745],
       [32.23297872]])

In [19]:
r2_score(pd.DataFrame(Y), y_predicted)

0.8606305383221947