<a href="https://colab.research.google.com/github/Shpchv/IntroToML/blob/main/task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/salary_and_population.csv', encoding = 'utf-8', delimiter = ',')

In [6]:
data

,Region_RU,Region_EN,AVG_Salary,Population,Unnamed: 4
0,Алтайский край,Altai Region,25960,218866,NaN
1,Амурская область,Amur Region,43156,793194,NaN
2,Архангельская область,Arkhangelsk Region,47526,1144119,NaN
3,Астраханская область,Astrakhan Region,32166,1014065,NaN
4,Белгородская область,Belgorod Region,31163,1547418,NaN
...,...,...,...,...,...
80,Чеченская Республика,Republic of Chechnya,26108,1456951,NaN
81,Чувашская Республика,Chuvash Republic,27028,1223395,NaN
82,Чукотский АО,Chukotka AO,96930,49663,NaN
83,Ямало-Ненецкий АО,Yamalo-Nenets Autonomous district,86560,541479,NaN
84,Ярославская область,Yaroslavl Region,33882,1259612,NaN

In [9]:
data = data.drop([0, 62, 13, 83, 1])

In [13]:
data.dropna(axis = 'columns', inplace = True, how = 'all')

In [14]:
data

                Region_RU             Region_EN  AVG_Salary  Population
2   Архангельская область    Arkhangelsk Region       47526     1144119
3    Астраханская область      Astrakhan Region       32166     1014065
4    Белгородская область       Belgorod Region       31163     1547418
5        Брянская область        Bryansk Region       27403     1200187
6    Владимирская область       Vladimir Region       31647     1365805
..                    ...                   ...         ...         ...
79    Челябинская область    Chelyabinsk Region       34944     3475753
80   Чеченская Республика  Republic of Chechnya       26108     1456951
81   Чувашская Республика      Chuvash Republic       27028     1223395
82           Чукотский АО           Chukotka AO       96930       49663
84    Ярославская область      Yaroslavl Region       33882     1259612

[80 rows x 4 columns]

In [15]:
data['AVG_Salary'].mean()

38432.2875

In [16]:
data['AVG_Salary'].median()

32723.0

In [17]:
data['AVG_Salary'].var(ddof = 0)

252680444.8798437

In [18]:
data['AVG_Salary'].std(ddof = 0)

15895.925417535265