<a href="https://colab.research.google.com/github/Shpchv/IntroToML/blob/main/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Part 1

In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [ ]:
data = pd.read_csv('/content/data.csv', delimiter=';')

In [ ]:
data

   id   X   Y
0   1  12  26
1   2  17  50
2   3   4   9
3   4   1   3
4   5  10  25
5   6   7  19
6   7  21  53
7   8  18  40
8   9  16  26
9  10  14  25

In [ ]:
X = data['X']
Y = data['Y']

In [ ]:
print(X.mean())
print(Y.mean())

12.0
27.6

In [ ]:
reg_model = LinearRegression().fit(pd.DataFrame(X), pd.DataFrame(Y))

In [ ]:
# Тета 0
reg_model.intercept_

array([-0.19787234])

In [ ]:
# Тета 1
reg_model.coef_

array([[2.31648936]])

In [ ]:
y_predicted = reg_model.predict(pd.DataFrame(X))
y_predicted

array([[27.6       ],
       [39.18244681],
       [ 9.06808511],
       [ 2.11861702],
       [22.96702128],
       [16.01755319],
       [48.44840426],
       [41.49893617],
       [36.86595745],
       [32.23297872]])

In [ ]:
r2_score(pd.DataFrame(Y), y_predicted)

0.8606305383221947

Part 2

In [8]:
candy_data = pd.read_csv('/candy-data.csv', delimiter=',', index_col='competitorname')
candy_data

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,Y
competitorname,,,,,,,,,,,,,
100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,1
3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,1
One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0
One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0
Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Snickers Crisper,1,0,1,1,0,1,0,1,0,0.604,0.651,59.529251,1
Sour Patch Kids,0,1,0,0,0,0,0,0,1,0.069,0.116,59.863998,1
Sour Patch Tricksters,0,1,0,0,0,0,0,0,1,0.069,0.116,52.825947,1
Starburst,0,1,0,0,0,0,0,0,1,0.151,0.220,67.037628,1
Strawberry bon bons,0,1,0,0,0,0,1,0,1,0.569,0.058,34.578991,0

In [10]:
train_data = candy_data.drop(['Dum Dums','Nestle Smarties'])
train_data

,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,Y
competitorname,,,,,,,,,,,,,
100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,1
3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,1
One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,0
One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,0
Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Snickers Crisper,1,0,1,1,0,1,0,1,0,0.604,0.651,59.529251,1
Sour Patch Kids,0,1,0,0,0,0,0,0,1,0.069,0.116,59.863998,1
Sour Patch Tricksters,0,1,0,0,0,0,0,0,1,0.069,0.116,52.825947,1
Starburst,0,1,0,0,0,0,0,0,1,0.151,0.220,67.037628,1
Strawberry bon bons,0,1,0,0,0,0,1,0,1,0.569,0.058,34.578991,0

In [11]:
X = pd.DataFrame(train_data.drop(['winpercent', 'Y'], axis=1))

In [12]:
Y = pd.DataFrame(train_data['winpercent'])

In [14]:
reg = LinearRegression().fit(X, Y)

In [16]:
DumDums = candy_data.loc['Dum Dums',:].to_frame().T

reg.predict(DumDums.drop(['winpercent', 'Y'], axis=1))

array([[47.69312171]])

In [17]:
NestleSmarties = candy_data.loc['Nestle Smarties',:].to_frame().T

reg.predict(NestleSmarties.drop(['winpercent', 'Y'], axis=1))

array([[55.29253178]])

In [18]:
reg.predict([[1, 1, 1, 1, 0, 1, 0, 0, 0, 0.128, 0.37]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([[87.62803508]])